#pluginator-checkout-steps-wizard.pluginator-wizard
{
    display: block;
    width: 100%;
    overflow: hidden;
}

#pluginator-checkout-steps-wizard.pluginator-wizard a
{
    outline: 0;
}

#pluginator-checkout-steps-wizard.pluginator-wizard  .steps  ul
{
    list-style: none !important;
    padding-left: 20px;
    margin-left: 10px;
    overflow: hidden;
}

#pluginator-checkout-steps-wizard.pluginator-wizard  .steps  ul > li
{
    display: block;
}

/* Accessibility */
#pluginator-checkout-steps-wizard.pluginator-wizard > .steps .current-info
{
    position: absolute;
    left: -999em;
}

#pluginator-checkout-steps-wizard.pluginator-wizard > .content > .title
{
    position: absolute;
    left: -999em;
}

/*
    Wizard
*/
#pluginator-checkout-steps-wizard.pluginator-wizard > .steps.clearfix:before,
#pluginator-checkout-steps-wizard.pluginator-wizard > .steps.clearfix:after
{
    display:block;
}

#pluginator-checkout-steps-wizard.pluginator-wizard > .steps.clearfix:after
{
    display:block;
    margin-bottom: 10px;
}

#pluginator-checkout-steps-wizard.pluginator-wizard > .steps
{
    margin:20px 10px 0px 10px;
    position: relative;
    clear:both;
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
}

#pluginator-checkout-steps-wizard.pluginator-wizard > .steps > ul > li
{
    position:relative;
    
}

#pluginator-checkout-steps-wizard.pluginator-wizard > .steps > ul > li,
#pluginator-checkout-steps-wizard.pluginator-wizard > .actions > ul > li
{
    float: left;
    list-style: none !important;
    padding: 0;
    margin: 0;
}

#pluginator-checkout-steps-wizard.pluginator-wizard > .steps a {
    position:relative;
    display:block;
    width:auto;
    height:40px;
    margin-right:30px;
    padding:0px 10px 0px 10px;

    font-size:15px;
    line-height:40px;
    text-decoration:none;
    transition: 0.1s;
}
#pluginator-checkout-steps-wizard.pluginator-wizard > .steps a:before {
    width:0px;
    height:0px;
    position: absolute;
    content: "";
    top: 0px;
    left: -20px;
    transition: 0.1s;
}
#pluginator-checkout-steps-wizard.pluginator-wizard > .steps a:after {
    width: 0;
    height: 0;
    position: absolute;
    content: "";
    top: 0px;
    right: -20px;
    transition: 0.1s;
}

#pluginator-checkout-steps-wizard.pluginator-wizard > .steps li span.number
{
    display: block;
    float: left;
    font-size: 14px;
    text-align:center;
    width:26px;
    margin: 5px 5px 5px 0;
    line-height:26px;
    border: 2px solid;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    border-radius:20px;
}

#pluginator-checkout-steps-wizard.pluginator-wizard > .steps li span.pluginator-checkout-steps-wizard-step-title
{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}

/* = COMPLETED STEPS
----------------------------*/

#pluginator-checkout-steps-wizard.pluginator-wizard > .steps li.done span.number {
    text-shadow:none;
    border: 2px solid;
    text-shadow:none;
}

/* = ACTIVE STEPS
----------------------------*/
#pluginator-checkout-steps-wizard.pluginator-wizard > .steps li.current span.number {
    text-shadow:none;
    border: 2px solid;
}

/* = HOVER STATES
----------------------------*/


/* = ERROR STATES
----------------------------*/
#pluginator-checkout-steps-wizard.pluginator-wizard > .steps li.current.error span.number {
    text-shadow:none;
    border: 2px solid;
}

#pluginator-checkout-steps-wizard.pluginator-wizard > .actions > ul > li
{
    float: left;
}

/* = FIRST STEP
----------------------------*/
#pluginator-checkout-steps-wizard.pluginator-wizard > .steps li.first a:before {

}


#pluginator-checkout-steps-wizard.pluginator-wizard > .content  ul  li
{
    list-style: none !important;
}

#pluginator-checkout-steps-wizard.pluginator-wizard > .content
{
    display: inline-block;
    margin: 0.5em;
    margin-top: 0;
    position: relative; 
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width: 99%;
}

#pluginator-checkout-steps-wizard.pluginator-wizard.vertical > .content
{
    margin: 0 2.5% 0.5em 2.5%;
}

#pluginator-checkout-steps-wizard.pluginator-wizard > .content > .body
{
    float: left;
    position: absolute;
    width: 95%;
    padding: 2.5%;
}

#pluginator-checkout-steps-wizard.pluginator-wizard > .actions
{
    margin-top: 10px;
    position: relative;
    display: inline-block;
    text-align: right;
    width: 100%;
}

#pluginator-checkout-steps-wizard.pluginator-wizard.vertical > .actions
{
    display: inline;
    float: right;
    margin: 0 2.5%;
    width: 95%;
}

#pluginator-checkout-steps-wizard.pluginator-wizard > .actions > ul
{
    display: inline-block;
    text-align: right;
}

#pluginator-checkout-steps-wizard.pluginator-wizard > .actions > ul > li
{
    margin: 0 0.5em;
}

#pluginator-checkout-steps-wizard.pluginator-wizard.vertical > .actions > ul > li
{
    margin: 0 0 0 1em;
}

#pluginator-checkout-steps-wizard.pluginator-wizard > .actions a,
#pluginator-checkout-steps-wizard.pluginator-wizard > .actions a:hover,
#pluginator-checkout-steps-wizard.pluginator-wizard > .actions a:active
{
    display: block;
    padding: 0.5em 1em;
    text-decoration: none;

    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

#pluginator-checkout-steps-wizard.pluginator-wizard > .actions .disabled a,
#pluginator-checkout-steps-wizard.pluginator-wizard > .actions .disabled a:hover,
#pluginator-checkout-steps-wizard.pluginator-wizard > .actions .disabled a:active
{
    cursor: default;
}

#pluginator-checkout-steps-wizard.pluginator-wizard > .loading
{
}

#pluginator-checkout-steps-wizard.pluginator-wizard > .loading .spinner
{
}

/*terms*/
div#pluginator-checkout-steps-wizard.pluginator-wizard p.terms.pluginator-error
{
    display: inline-block;
    border: 1px dotted red;
}
div#pluginator-checkout-steps-wizard.pluginator-wizard p.terms
{
    margin-top:10px;
}


div#pluginator-checkout-steps-wizard.pluginator-wizard[data-steps-count="2"] > div.steps ul li
{
    width: 50%;
}
div#pluginator-checkout-steps-wizard.pluginator-wizard[data-steps-count="3"] > div.steps ul li
{
    width: 33.33%;
}
div#pluginator-checkout-steps-wizard.pluginator-wizard[data-steps-count="4"] > div.steps ul li
{
    width: 25%;
}
div#pluginator-checkout-steps-wizard.pluginator-wizard[data-steps-count="5"] > div.steps ul li
{
    width: 20%;
}
div#pluginator-checkout-steps-wizard.pluginator-wizard[data-steps-count="6"] > div.steps ul li
{
    width: 16.66%;
}

div#pluginator-checkout-steps-wizard.pluginator-wizard[data-steps-count="1"]  > div.steps ul li,
div#pluginator-checkout-steps-wizard.pluginator-wizard.vertical > div.steps ul li
{
    width: 100%;
}

/***smart phone**/
@media(max-width: 600px){
    div#pluginator-checkout-steps-wizard.pluginator-wizard .steps ul > li{
        float: none;
        font-size: 14px;
        margin-left: 0;
        margin-top: 10px;
        width: 100% !important;
    }

    div#pluginator-checkout-steps-wizard.pluginator-wizard .steps ul > li a{
        margin-right: 0 !important;
        margin-left: 0 !important;
    }
    
    body #pluginator-checkout-steps-wizard.pluginator-wizard.vertical > .steps,
    body #pluginator-checkout-steps-wizard.pluginator-wizard.vertical > .content
    {
        width: 100% !important;
    }
}
