<?php
    $params = array(
        'refresh_plugin' => 'true'
    );
    
    $refreshLink = $this->getUrl($params);
?>

<a href='<?php echo $refreshLink; ?>'>
    <input class="pluginator-cart-refresh" type="button" value="<?php _e('Refresh Plugin', $this->languageDomain); ?>">
</a>