<div class="pluginator-checkout-steps-wizard" style="margin-top: -25px;">
    <?php
        $params = array(
            'refresh_completed' => '',
            'refresh_plugin' => ''
        );
        $url = $this->getUrl($params);
    ?>
    <form action="<?php echo $url; ?>"  method="post" class="pluginator-checkout-steps-wizard-form">
        <input type="hidden" name="__action" value="save" /> 
        <?php
        foreach ($fieldset as $key => $item) {
            if (array_key_exists('legend', $item)) {
            ?>
                <div class="pluginator-header-options">
                    <?php echo $item['legend']; ?> 
                </div>
            <?php
            }
            ?>
            <fieldset class="pluginator-checkout-steps-wizard-options">
                <?php
                $vars = array (
                    'filds' => $item['filds'],
                    'currentValues' => $currentValues
                ); 
    
                echo $this->fetch('settings_filds.phtml', $vars);     

                ?>        
                </fieldset>
        <?php
        }
        ?>
            <input type="submit"  value="<?php echo __('Save Changes', $this->languageDomain); ?>"  class="pluginator-checkout-steps-wizard-save-button button-primary">
    </form>
</div>
