<?php 
$class = (isset($item['class'])) ? $item['class'] : '';

?>
<input type="number"  class="<?php echo $class ;?>" name="<?php echo $ident; ?>" value ='<?php echo $currentValue; ?>' >
<span class="pluginator-size-add-on">
    <?php 
    if(isset($item['lable'])) {
        echo $item['lable'];
    } 
    ?>
</span>
