<?php 
$checked = (isset($currentValue)) ? ' checked="checked"' : '';
$data = (isset($item['event'])) ? ' data-event="'.$item['event'].'"' : '';
?>

<input <?php echo $data;?> name="<?php echo $ident;?>" <?php echo $checked;?> type="checkbox" value="1"> 
<span class="pluginator-user-role-prices-lable">
    <?php 
    if(isset($item['lable'])) {
        echo $item['lable'];
    } 
    ?>
</span>