.error-msg{
	color: red;	
}
.button-export{
	padding: 3px 4px !important;
}
#wooorderexp_store_logo_preview img{
	width:200px;
	height: 80px;
}

.type-shop_order .column-order_actions a.button.woo_order {
	float: left;
	width: 26px;
	height: 26px;
	padding: 3px 2px;
}

.type-shop_order .column-order_actions a.button.woo_order img {
	width: 16px;
}