<div class="form-row form-row form-row-wide" id="addon_products">
<?php
echo do_shortcode('[product_category category="add-on"]');
?>
</div>
<script>
jQuery(document).ready(function($){
  var myThis = null;
  $(".add_to_cart_button").click(function(e){
	if($(this).hasClass("atc-active")){
		e.preventDefault();
		myThis = this;
		var pid = $(this).attr('data-product_id');        
		var data = {
			'action': 'aspk_add_to_cart',
			'pid': pid
		};
		$.ajax({
			type: "POST",
			url: "<?php echo site_url();?>/wp-admin/admin-ajax.php",
			data: data,
			success: function () {
				$(myThis).addClass('atc-remove').removeClass('atc-active');
				$(myThis).text('Remove');
			}
		});
	}else if($(this).hasClass("atc-remove")){
		e.preventDefault();
		myThis = this;
		var pid = $(this).attr('data-product_id');        
		var data = {
			'action': 'aspk_remove_from_cart',
			'pid': pid
		};
		$.ajax({
			type: "POST",
			url: "<?php echo site_url();?>/wp-admin/admin-ajax.php",
			data: data,
			success: function () {
				$(myThis).addClass('atc-active').removeClass('atc-remove');
				$(myThis).text('Add to Cart');
			}
		});
	}
  });
  $('.products li').css("width","245px");
});
</script>
