<div style="margin-left:2.5em;margin-bottom: 1em;font-style: italic;">Please place a separate order when requiring an additional delivery address. Sorry - WE CANNOT ACCEPT PO BOXES - Please use street addresses only</div>
<div style="margin-left: 1em;"><input type="checkbox" name="sameAsShipping" id="sameAsShipping" value="yes" >My billing address is the same as the delivery address</div>
<script>
	var billingStateSelect = jQuery('#billing_state').html();
	var billingCountrySelect = jQuery('#billing_country').html();
	
	jQuery('#sameAsShipping').change(function() {
        if(this.checked) {
            jQuery('#billing_first_name').val(jQuery('#shipping_first_name').val());
			jQuery('#billing_last_name').val(jQuery('#shipping_last_name').val());
			jQuery('#billing_company').val(jQuery('#shipping_company').val());
			jQuery('#billing_address_1').val(jQuery('#shipping_address_1').val());
			jQuery('#billing_address_2').val(jQuery('#shipping_address_2').val());
			jQuery('#billing_city').val(jQuery('#shipping_city').val());
			jQuery('#billing_postcode').val(jQuery('#shipping_postcode').val());
			var tmpState = jQuery('#shipping_state').val();
			jQuery("#billing_state option[value='"+tmpState+"']").attr("selected", "selected");
			jQuery("#billing_state").val(tmpState);
			var tmpCountry = jQuery('#shipping_country').val();
			jQuery("#billing_country option[value='"+tmpCountry+"']").attr("selected", "selected");
			jQuery('.details_billing').show();
			jQuery('#billing_address_google_field').hide();
        }else{
			jQuery('#billing_first_name').val('');
			jQuery('#billing_last_name').val('');
			jQuery('#billing_company').val('');
			jQuery('#billing_address_1').val('');
			jQuery('#billing_address_2').val('');
			jQuery('#billing_city').val('');
			jQuery('#billing_postcode').val('');
			jQuery('#billing_state').html(jQuery('#shipping_state').html());
			jQuery('#billing_country').html(jQuery('#shipping_country').html());
			jQuery('.details_billing').hide();
			jQuery('#billing_address_google_field').show();
		}
               
    });
</script>

<?php do_action( 'woocommerce_checkout_billing' ); ?>