<div><label class="message_label">Your Message:</label></div><div class="form-row form-row form-row-wide" id="myPersonalMessage"></div>

<?php
$pid = wc_get_product_id_by_sku("POSY");
if($pid){
	$prod = wc_get_product($pid);
	$qty = $prod->get_stock_quantity();
}else{
	$qty = 0;
}
if($qty > 0){
	$mysalemsg = "DELIVER TODAY";
	$todaychecked = "checked";
	$laterchecked = "";
?>
<script>
	var rdoddenable = true;
</script>
<?php }else{
	$mysalemsg = "SOLD OUT TODAY";
	$todaychecked = "disabled";
	$laterchecked = "checked";
?>
<script>
	var rdoddenable = false;
</script>
<?php }  ?>
<div><label class="message_label" style="margin-top:2.5em;">Required Delivery Date:</label></div>
<div class="row form-row form-row form-row-wide input-text delivery_date" style="height:auto !important;">
	<div class="col-md-4" style="padding-top:18px;"><input style="width:auto;" type="radio" name="ddate" value="today" <?php echo $todaychecked;?>  onclick="handleDdClick(this);" ><?php echo $mysalemsg;?></div>
	<div class="col-md-6"><input style="display:inline;width:auto;" type="radio" name="ddate" value="later" onclick="handleDdClick(this);" <?php echo $laterchecked;?> >Future Delivery Date <input id="fddate" type="text" style="display:inline;width:auto;" name="fddate" value="<?php echo date('d-m-Y',current_time('timestamp')+86400);?>" readonly /> </div>
	<div class="col-md-2"></div>
</div>
<script>
function handleDdClick(rdo){
	if(rdoddenable){
		if(rdo.value == 'later'){
			jQuery('#fddate').prop( "disabled", false );
		}else{
			jQuery('#fddate').prop( "disabled", true );
		}
	}
}

jQuery( document ).ready(function() {
	jQuery( "#fddate" ).datepicker({
		gotoCurrent: true,
		dateFormat: "dd-mm-yy",
		constrainInput: true,
		beforeShowDay: function(d) {
			if(d.getMonth() == 4 && d.getDate() == 8){
				return [true, "","We are Open"];
			}else if(d.getDay() == 0 || d.getDay() == 6 ){
				return [false, "","We are Closed"];
			}else{
				return [true, "","We are Open"];
			}
		},
		minDate: 1
	});
	
	if(rdoddenable){
		jQuery('#fddate').prop( "disabled", true );
	}
});
</script>
