<div style="margin-left:2.5em;margin-bottom: 1em;font-style: italic;">Please place a separate order when requiring an additional delivery address. Sorry - WE CANNOT ACCEPT PO BOXES - Please use street addresses only</div>
<?php do_action( 'woocommerce_checkout_shipping' ); ?>
<div class="modal fade" id="zipModal" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Outside Delivery Area</h4>
        </div>
        <div class="modal-body">
          <p>Sorry, we do not currently deliver to your postcode.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
</div>

<script>
	jQuery(document).ready(function(){
		jQuery('#personal_message').attr("rows","8");
		jQuery('#order_comments_field').hide();
		jQuery('#myPersonalMessage').html(jQuery('#personal_message_field').html());
		jQuery('#personal_message_field').html('');
		jQuery('.woocommerce-message').html('');
		
	});
</script>
