<?php
    $prepereContents = array();
?>

<div data-steps-count="<?php echo $count; ?>" style="display: none;" id="pluginator-checkout-steps-wizard">
    <?php
    foreach ($steps as $step) {
            if (array_key_exists('content', $step)) {
               $prepereContents[$step['class']] = $step['content']; 
            }
    ?>
        <h1><?php echo __($step['name'], $this->languageDomain); ?></h1>
        <div class="<?php echo $step['class']; ?>">
        </div>
    <?php    
    }
    ?>
</div>
<div style="display: none;" id="prepare-pluginator-checkout-steps-wizard">
<?php
    if ($prepereContents) {
        foreach ($prepereContents as $step => $content) {
        ?>
            <div class="prepare-<?php echo $step; ?>">
                <?php echo $content; ?>
            </div>
        <?php    
        }
    }
?>
</div>