﻿#pluginator-checkout-steps-wizard.pluginator-wizard {
}

#pluginator-checkout-steps-wizard.pluginator-wizard .form-row.place-order {
    display: none;
}

#pluginator-checkout-steps-wizard.pluginator-wizard #order_review table.shop_table
{
    display: none;
}

form.checkout #customer_details
{
    display: none;
}


body form[name=checkout]
{
    visibility: hidden;
}

.white_content
{
    height: 300px;
}


body form.checkout div#pluginator-checkout-steps-wizard p.form-row label.pluginator-require-field
{
    display:none !important;
    float: left !important;
}

body form.checkout div#pluginator-checkout-steps-wizard p.form-row.pluginator-invalid-field label.pluginator-require-field.pluginator-active,
body form.checkout div#pluginator-checkout-steps-wizard form.login p.form-row.pluginator-invalid-field label.pluginator-require-field
{
    display:inline-block !important;
}

.woocommerce {
    visibility: hidden;
}

body form.checkout div#pluginator-checkout-steps-wizard p.form-row.pluginator-invalid-field .pluginator-invalid,
body form.checkout div#pluginator-checkout-steps-wizard p.form-row.pluginator-invalid-email-field .pluginator-invalid-email,
body form.checkout div#pluginator-checkout-steps-wizard p.form-row.pluginator-invalid-phone-field .pluginator-invalid-phone,
body form.checkout div#pluginator-checkout-steps-wizard p.form-row.pluginator-invalid-postcode-field .pluginator-invalid-postcode
{
    background: rgb(251, 227, 228);
    border: 1px solid #fbc2c4;
    color: #8a1f11;
}

