#pluginator-checkout-steps-wizard.pluginator-wizard
{
    display: block;
    width: 100%;
    overflow: hidden;
}

#pluginator-checkout-steps-wizard.pluginator-wizard a
{
    outline: 0;
}

#pluginator-checkout-steps-wizard.pluginator-wizard .steps  ul
{
    list-style: none !important;
    padding: 0;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin: 0;
    overflow: hidden;
}

#pluginator-checkout-steps-wizard.pluginator-wizard .steps ul > li
{
    display: block;
    padding: 0;
}


div#pluginator-checkout-steps-wizard.pluginator-wizard[data-steps-count="2"] > div.steps ul li
{
    width: 50%;
}
div#pluginator-checkout-steps-wizard.pluginator-wizard[data-steps-count="3"] > div.steps ul li
{
    width: 33.33%;
}
div#pluginator-checkout-steps-wizard.pluginator-wizard[data-steps-count="4"] > div.steps ul li
{
    width: 25%;
}
div#pluginator-checkout-steps-wizard.pluginator-wizard[data-steps-count="5"] > div.steps ul li
{
    width: 20%;
}
div#pluginator-checkout-steps-wizard.pluginator-wizard[data-steps-count="6"] > div.steps ul li
{
    width: 16.66%;
}

div#pluginator-checkout-steps-wizard.pluginator-wizard[data-steps-count="1"]  > div.steps ul li,
div#pluginator-checkout-steps-wizard.pluginator-wizard.vertical > div.steps ul li
{
    width: 100%;
}

/* Accessibility */
#pluginator-checkout-steps-wizard.pluginator-wizard > .steps .current-info
{
    position: absolute;
    left: -999em;
}

#pluginator-checkout-steps-wizard.pluginator-wizard > .content > .title
{
    position: absolute;
    left: -999em;
}



/*
    Wizard
*/

#pluginator-checkout-steps-wizard.pluginator-wizard > .steps
{
    position: relative;
    display: block;
    width: 100%;
}

#pluginator-checkout-steps-wizard.pluginator-wizard > .steps > ul > li,
#pluginator-checkout-steps-wizard.pluginator-wizard > .actions > ul > li
{
    float: left;
    list-style: none !important;
    padding: 0;
    margin: 0;
}

#pluginator-checkout-steps-wizard.pluginator-wizard > .steps.clearfix:before,
#pluginator-checkout-steps-wizard.pluginator-wizard > .steps.clearfix:after
{
    display:block;
}

#pluginator-checkout-steps-wizard.pluginator-wizard > .steps.clearfix:after
{
    display:block;
    margin-bottom: 10px;
}

#pluginator-checkout-steps-wizard.pluginator-wizard.vertical > .steps
{
    display: inline;
}

#pluginator-checkout-steps-wizard.pluginator-wizard > .steps .number
{
    font-size: 1.429em;
}

#pluginator-checkout-steps-wizard.pluginator-wizard > .steps > ul > li
{
    width: 25%;
}

#pluginator-checkout-steps-wizard.pluginator-wizard > .steps > ul > li,
#pluginator-checkout-steps-wizard.pluginator-wizard > .actions > ul > li
{
    float: left;
}

#pluginator-checkout-steps-wizard.pluginator-wizard.vertical > .steps > ul > li
{
    float: none;
    width: 100%;
}

#pluginator-checkout-steps-wizard.pluginator-wizard > .steps a,
#pluginator-checkout-steps-wizard.pluginator-wizard > .steps a:hover,
#pluginator-checkout-steps-wizard.pluginator-wizard > .steps a:active
{
    position:relative;
    display:block;
    width:auto;
    padding-left:10px;
    padding-right:10px;
    text-decoration:none;
    transition: 0.05s;
}

#pluginator-checkout-steps-wizard.pluginator-wizard > .steps a
{
    margin-top: 0px;
    margin-bottom: 0px;
}

#pluginator-checkout-steps-wizard.pluginator-wizard > .steps li.first  a
{
    margin-left: 0px !important;
}

#pluginator-checkout-steps-wizard.pluginator-wizard > .steps li.last a
{
    margin-right: 0px !important;
}

#pluginator-checkout-steps-wizard.pluginator-wizard.vertical > .steps a
{
    margin-right: 0px;
    margin-left: 0px;
}

#pluginator-checkout-steps-wizard.pluginator-wizard.vertical > .steps li.first  a
{
    margin-top: 0px !important;
}

#pluginator-checkout-steps-wizard.pluginator-wizard > .steps a:before
{
}
#pluginator-checkout-steps-wizard.pluginator-wizard > .steps a:after
{
}


#pluginator-checkout-steps-wizard.pluginator-wizard > .steps li span.number
{
}

#pluginator-checkout-steps-wizard.pluginator-wizard > .steps li span.pluginator-checkout-steps-wizard-step-title
{
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    display: block;
    width: 100%;
}

/* Completed Steps */
#pluginator-checkout-steps-wizard.pluginator-wizard > .steps li.done a
{
}
#pluginator-checkout-steps-wizard.pluginator-wizard > .steps li.done a:before
{
}
#pluginator-checkout-steps-wizard.pluginator-wizard > .steps li.done a:after
{
}
#pluginator-checkout-steps-wizard.pluginator-wizard > .steps li.done span.number
{
}
    
/* Disabled Steps */
#pluginator-checkout-steps-wizard.pluginator-wizard > .steps a
{
}
#pluginator-checkout-steps-wizard.pluginator-wizard > .steps a:before
{
}
#pluginator-checkout-steps-wizard.pluginator-wizard > .steps a:after
{
}
#pluginator-checkout-steps-wizard.pluginator-wizard > .steps li span.number
{
}

/* = ACTIVE STEPS
----------------------------*/
#pluginator-checkout-steps-wizard.pluginator-wizard > .steps li.current a
{
}
#pluginator-checkout-steps-wizard.pluginator-wizard > .steps li.current a:before
{
}
#pluginator-checkout-steps-wizard.pluginator-wizard > .steps li.current a:after
{
}
#pluginator-checkout-steps-wizard.pluginator-wizard > .steps li.current span.number
{
}
    
/* = HOVER STATES
----------------------------*/
#pluginator-checkout-steps-wizard.pluginator-wizard > .steps li.done:hover a,
#pluginator-checkout-steps-wizard.pluginator-wizard > .steps li.current:hover a
{
}
#pluginator-checkout-steps-wizard.pluginator-wizard > .steps li.done:hover a:before,
#pluginator-checkout-steps-wizard.pluginator-wizard > .steps li.current:hover a:before
{
}
#pluginator-checkout-steps-wizard.pluginator-wizard > .steps li.done:hover a:after,
#pluginator-checkout-steps-wizard.pluginator-wizard > .steps li.current:hover a:after
{
}
#pluginator-checkout-steps-wizard.pluginator-wizard > .steps li.done:hover span.number,
#pluginator-checkout-steps-wizard.pluginator-wizard > .steps li.current:hover span.number
{
}
#pluginator-checkout-steps-wizard.pluginator-wizard > .steps li.current.error a
{
}
#pluginator-checkout-steps-wizard.pluginator-wizard > .steps li.current.error a:before
{
}
#pluginator-checkout-steps-wizard.pluginator-wizard > .steps li.current.error a:after
{
}
#pluginator-checkout-steps-wizard.pluginator-wizard > .steps li.current.error span.number
{
}


div#pluginator-checkout-steps-wizard.pluginator-wizard > div.steps ul li a span.current-info
{
    display: none;
}

#pluginator-checkout-steps-wizard.pluginator-wizard > .content  ul  li
{
    list-style: none !important;
}



#pluginator-checkout-steps-wizard.pluginator-wizard > .content
{
    background: #eee;
    margin: 0.5em;
    display: block;
    position: relative;

    width: auto;
    overflow: hidden;
}

div#pluginator-checkout-steps-wizard.pluginator-wizard > div.content h1
{
    display: none;
}

#pluginator-checkout-steps-wizard.pluginator-wizard.vertical > .content
{
    display: inline;
    float: left;
    margin: 0 0 0.5em 1%;
}

#pluginator-checkout-steps-wizard.pluginator-wizard > .content > .body
{
    float: left;
    position: absolute;
    width: 95%;
    padding: 2.5%;
}

#pluginator-checkout-steps-wizard.pluginator-wizard > .actions
{
    margin-top: 10px;
    position: relative;
    display: inline-block;
    text-align: right;
    width: 100%;
}

#pluginator-checkout-steps-wizard.pluginator-wizard.vertical > .actions
{
    position: relative;
    display: inline-block;
    text-align: right;
    width: 100%;
    margin-top: 20px;
}

/*Actions Start*/
div#pluginator-checkout-steps-wizard.pluginator-wizard > div.actions ul
{
    padding: 0;
    margin: 0;
    list-style: none;
    display: inline-block;
}

div#pluginator-checkout-steps-wizard.pluginator-wizard > div.actions > ul > li
{
    margin: 0 10px;
    float: left;
    list-style: none;
}

div#pluginator-checkout-steps-wizard.pluginator-wizard > div.actions > ul > li a
{
    display: block;
    padding: 0.5em 1em;
    text-decoration: none;
    cursor: pointer;
	margin-top: 0.5em;
}

    
#pluginator-checkout-steps-wizard.pluginator-wizard > .actions a
{
}

#pluginator-checkout-steps-wizard.pluginator-wizard > .actions a:hover
{
}

#pluginator-checkout-steps-wizard.pluginator-wizard > .actions .disabled a,
#pluginator-checkout-steps-wizard.pluginator-wizard > .actions .disabled a:hover
{

}


div#pluginator-checkout-steps-wizard.pluginator-wizard > div.actions > ul > li.disabled a,
div#pluginator-checkout-steps-wizard.pluginator-wizard > div.actions > ul > li.disabled a:hover,
div#pluginator-checkout-steps-wizard.pluginator-wizard > div.actions > ul > li.disabled a:active
{
    cursor: default;
}

/*terms*/
div#pluginator-checkout-steps-wizard.pluginator-wizard p.terms.pluginator-error
{
    display: inline-block;
    border: 1px dotted red;
}
div#pluginator-checkout-steps-wizard.pluginator-wizard p.terms
{
    margin-top:10px;
}

/***smart phone**/
@media(max-width: 600px){
    div#pluginator-checkout-steps-wizard.pluginator-wizard .steps ul > li{
        float: none;
        font-size: 14px;
        margin-left: 0;
        margin-top: 10px;
        width: 100% !important;
    }

    div#pluginator-checkout-steps-wizard.pluginator-wizard .steps ul > li a{
        margin-right: 0 !important;
        margin-left: 0 !important;
    }
    
    body #pluginator-checkout-steps-wizard.pluginator-wizard.vertical > .steps,
    body #pluginator-checkout-steps-wizard.pluginator-wizard.vertical > .content
    {
        width: 100% !important;
    }
}
