.ui-sortable {
    width: 160px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    padding: 5px;
}
.ui-sortable li{
    border:1px solid #dddddd;
    background-color: #ffffff;
    margin: 0;
    padding: 5px;
    font-size: 16px;
    cursor:move;
}