select#newpluginator_docs_versions_parent,
label[for='parent'],
select#parent.postform
{
    display: none;
}

body table.wp-list-table.tags
{
    table-layout: auto;
}

.pluginator-checkout-steps-wizard  .pluginator-checkout-steps-wizard-section {
    margin: 0;
}

.pluginator-checkout-steps-wizard-message#message {
    margin-left:0;
    margin-bottom: 20px;
}

.pluginator-checkout-steps-wizard  .pluginator-checkout-steps-wizard-form-table
{
    width: 100%;
}

.pluginator-checkout-steps-wizard-form-table tr.pluginator-checkout-steps-wizard-top-border td,
.pluginator-checkout-steps-wizard-form-table tr.pluginator-checkout-steps-wizard-top-border th
{
    border-top: 1px solid #eee;
}

.pluginator-checkout-steps-wizard  .pluginator-checkout-steps-wizard-form-table  td,
.pluginator-checkout-steps-wizard  .pluginator-checkout-steps-wizard-form-table  th
{
    padding: 5px;
    padding-bottom: 20px;
    padding-top: 20px;
    line-height: 20px;
    vertical-align: top;
    text-align: left;
    font-size: 15px;
}

.pluginator-checkout-steps-wizard  .pluginator-checkout-steps-wizard-form-table  th
{
    width: 300px;
}

.pluginator-checkout-steps-wizard .pluginator-checkout-steps-wizard-lable
{
    vertical-align: middle;
}

input[type="text"],
.pluginator-checkout-steps-wizard input[type="number"],
.pluginator-checkout-steps-wizard select
{
    height: 30px; 
}

.pluginator-checkout-steps-wizard input[type="text"],
.pluginator-checkout-steps-wizard input[type="number"],
.pluginator-checkout-steps-wizard input[type="checkbox"],
.pluginator-checkout-steps-wizard select
{
    background-color: #ffffff;
    border: 1px solid #cccccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
    -o-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
}

input[type="text"]:focus,
.pluginator-checkout-steps-wizard input[type="number"]:focus,
.pluginator-checkout-steps-wizard input[type="checkbox"]:focus,
.pluginator-checkout-steps-wizard select:focus
{
    border-color: rgba(82, 168, 236, 0.8);
    outline: 0;
    outline: thin dotted \9;
      /* IE6-9 */
    
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}

.pluginator-checkout-steps-wizard .pluginator-size-add-on
{
    display: inline-block;
    width: 26px;
    height: 24px !important;
    min-width: 16px;
    font-size: 14px;
    font-weight: normal;
    line-height: 22px;
    position:relative;
    right: 8px;
    padding:2px;
    top: 1px;
    text-align: center;
    text-shadow: 0 1px 0 #ffffff;
    background-color: #eeeeee;
    border: 1px solid #ccc;
    
    vertical-align: top;
}
.pluginator-checkout-steps-wizard tr.pluginator-checkout-steps-wizard-divider th
{
    text-align:left;
    background-color: #7B8C9C;
    padding: 5px;
    text-transform: uppercase;
    color: #ffffff;
    line-height: 25px;
    font-size: 14px;
}

.pluginator-checkout-steps-wizard div.pluginator-header-options
{
    background-color: #426781;
    width: 770px;
    text-align: left;
    padding: 10px;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    line-height: 25px;
    margin-top: 30px;
}

a.pluginator-checkout-steps-wizard-delete-role
{
    text-decoration: none;
    font-size: 26px;
    font-weight: bold;
    margin-left: 5px;
    vertical-align: middle;
    color: #ff5c5c;
}

a.pluginator-checkout-steps-wizard-delete-role:hover
{
    color: #ff0000;
}

.pluginator-checkout-steps-wizard  .pluginator-checkout-steps-wizard-hidden
{
    display:none;
}

fieldset.pluginator-checkout-steps-wizard-grouped-roles table th
{
    font-weight: normal;
}

.pluginator-checkout-steps-wizard .pluginator-checkout-steps-wizard-save-button
{
    margin-left: 685px;
    margin-top: 10px;
}

fieldset.pluginator-checkout-steps-wizard-options
{
    /*border: 1px solid #eeeeee;*/
    padding: 20px;
    width:750px;
    padding-top: 25px;
    padding-bottom: 10px;
    background-color: #ffffff;
}

div.pluginator-checkout-steps-wizard-settings
{
    text-align:left;
    background-color: #375569;
    padding: 10px;
    text-transform: uppercase;
    color: #ffffff;
    width:770px;
    font-weight: bold;
    font-size: 15px;
}

.pluginator-checkout-steps-wizard  h2
{
    font-size: 22px;
    font-weight: 400;
    padding: 9px 15px 4px 0;
}

.pluginator-checkout-steps-wizard .pluginator-checkout-steps-wizard-help-tip
{
    cursor: help;
    vertical-align: middle;
}

.pluginator-color-selector {
    position: relative;
    top: 0;
    left: -3px;
    width: 36px;
    height: 36px;
}

.pluginator-color-selector div {
    position: relative;
    top: 4px;
    left: 4px;
    width: 28px;
    height: 28px;
    background: url(../../images/color_picker/select2.png) center;
}

div.colorpicker input {
    height: 15px !important;
    border: 0 !important;
}

body div.colorpicker{
    z-index: 10;
}

.pluginator-checkout-steps-wizard  input.pluginator-font-size,
.pluginator-checkout-steps-wizard  input.pluginator-size,
.pluginator-checkout-steps-wizard input.pluginator-change-slider
{
   float: left;
   width: 60px;
}

/*************** Slider Start **********************/
.pluginator-cart input.pluginator-cart-change-slider
{
    float: left;
}

.pluginator-slider {
    width:340px;
    margin-left: 100px;
    margin-top: 11px;
}

.pluginator-slider.ui-slider-horizontal
{
    height: 8px;
}

div.pluginator-slider a.ui-slider-handle
{
    height: 16px;
    width: 10px;
}

div.pluginator-slider a.ui-slider-handle.ui-state-hover,
div.pluginator-slider a.ui-slider-handle.ui-state-focus
{
    background: #ffffff;
    cursor: pointer;
    border-color: #d6d6d6; 
}

div.pluginator-slider div.ui-slider-range {
    background: #d6d6d6;
}
/**************** Slider End *********************/
