/*
Theme Name: Wedding Couple Child
Template: weddingcouple
Author: Child Theme Configurator
Version: 1.0.1454387750
Updated: 2016-02-02 04:35:50
*/

@charset "UTF-8";

.nicdark_bg_grey{
background: -moz-linear-gradient(top,  rgba(255,255,255,0.8) 0%, rgba(255,255,255,0.96) 80%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(255,255,255,0.8) 0%,rgba(255,255,255,0.96) 80%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(255,255,255,0.8) 0%,rgba(255,255,255,0.96) 80%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

height:110px;
}

.menu > li > a:after {
font-size:0 !important;
}
.menu > li > a{
color:#89c9e1;
margin-top:25px;
}
.menu > li > a:hover{
color:#056e91;
}
li.home-logo a{
	background:url(http://rustic.dev.onpressidium.com/wp-content/uploads/2016/02/header-logo.png) no-repeat;
	height: 100px;
    margin-right: 44px !important;
    text-indent: -99999px;
    width: 200px;
	margin-top:-20px;
}
.responsive-logo{
	display:none;
}
@media only screen and (max-width: 960px) {
.responsive-logo{
	display:block;
	text-align:center;
	position:absolute;
	padding:15px;
}
.nicdark_bg_grey .tinynav{
	width:100px;
	float:right;
	min-width: 250px;
	color: #056e91;
}
.nicdark_bg_grey .tinynav option {
    color: #056e91;
	font-size: large;
}
}
@media only screen and (max-width: 500px) {
.nicdark_bg_grey{
	height:165px;
}
.nicdark_bg_grey .tinynav {
    float: inherit;
    width: 100%;
	color: #056e91;
	font-size: large;
}
.menu-menu-1-container{
	float: inherit;
    position: absolute;
    top: 105px;
}

.nicdark_bg_grey .tinynav option {
    color: #056e91;
	font-size: large;
}

.responsive-logo{
width: 100%;
}

}


.delivery_date{
	border: 2px solid;
    padding: 10px 10px;
	background: #F9F9F9;
}

#personal_message{
	height: 8em !important;
}

.nicdark_navigation{
	position: relative;
}

.nicdark_bg_grey .tinynav {
    background-color: #f9f9f9;
}
